*{
	margin: 0;
	padding: 0;
	border: none;
}

body{
    background-color: #FFF5E6;
}

/* -----DIVS------ */
#menuBajo{
    height: 50px;
    width: 100%;
    background-color: #4DB6AC;
    position: absolute;
    bottom: 0;
    color: white;

    
}

#menuBajo div{
    margin: 0 25% 0 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#menuBajo a {
    text-decoration: none;
    color: white;
}

#menuBajo a:hover{
    color: black;
    transition: 0.5s;
}

#barraDeSeccion{
    position: static;
    height: 48px;
    background-color: white;
    width: 100%;
    box-shadow: 0px 15px 10px -15px #111; 
    display: flex;
    align-items: center;
    
}

#estados{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

#totalConPagos{
    width: 360px;
    height: 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#otrosEstados{ 
    width: 740px;
    height: 36px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
display: flex;
flex-direction: row;
justify-content:space-around;
align-items: center;

}

/* ------TEXTOS------ */
p {
    margin: 0px;
}

#titulo {
    color: #4DB6AC;
    margin: 0px 0px 0px 10%;
}

#saldoConPagos{
    font-size: 64px;
line-height: 77px;
}

#cabezaMateriales{
   /* position: relative; */
    display: grid;
    grid-template-columns: repeat(12,1fr);
   grid-template-areas:
   "orden orden . . cantidad cantidad valorUni valorUni valorTot ValorTot . ." ;
   height: 14px;
   width: 100%;
   margin:54px 0px 18px 0px;
   justify-items: center;
   align-items: center;
}

#cabezaMateriales p {
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 12px;
    width: 92px;
    height: 14px;
    text-align: center;
}
.orden{
    grid-area: orden;
}
.cantidad{
    grid-area: cantidad ;
}
.valorUni{
    grid-area: valorUni;
}
.valorTot{
    grid-area: valorTot;
}

#materiales{
    position: static;
    background: white;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
margin: 0px 16px 0px 16px;
width: 98%;
}
#materiales div {display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-areas:
    "orden orden . . cantidad cantidad valorUni valorUni valorTot ValorTot . ." ;
    justify-items: center;
    align-items: center;

}
#agregarMaterial{
    display: grid;
grid-template-columns: repeat(12,1fr);
grid-template-areas:
". . orden orden orden cantidad cantidad valorUni valorUni boton . ." ;
justify-items: center;
align-items: center;
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 50px;
}

.boton{color: white;
background-color: #f06291c5;
height: 36px;
width: 200px;}

.inputDom{
    height: 36px;
    border: rgba(0, 0, 0, 0.603) 1px solid;
}
#nombreMaterial{
    width: 100%;
    grid-area: orden;}
#cantidadMaterial{
    grid-area:cantidad;
}
#valorMaterial{
    grid-area:valorUni;
}
#botonMaterial{
    
    grid-area: boton;
}
